*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.container-full{
    max-width: 100%;
}

/* layout */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3);
}

.col-32{
    width: calc(97% / 3);
}

.gap-1{
    gap: 1%;
}

/* common */
header{
    background-color: orange;
    margin-bottom: 50px;
}

footer{
    background-color: black;
    border-bottom: 3px solid white;
    color: white;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-right: 3px;
}

ul li a{
    text-decoration: none;
    color: white;
}

/* specifics */
.menu-header{
    font-size: 15px;
    margin-top: 3px;
}

.logo-img{
    width: 100px;
}

.label{
    padding: 5px 11px;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 60px;
    left: 0;
    font-size: 13px;
}

.heart{
    padding: 5px 11px;
    background-color: white;
    font-size: 23px;
    position: absolute;
    top: 22px;
    right: 0;
}

.content{
    position: relative;
}

/* style */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.space-between{
    justify-content: space-between;
}

.py-15{
    padding: 15px 0;
}

.w-100{
    width: 100%;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.m-left{
    margin-left: 57px;
}